<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="wotepad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <wotepad.Properties.Settings>
            <setting name="Application_Name" serializeAs="String">
                <value>Wotepad</value>
            </setting>
            <setting name="Application_SkinName" serializeAs="String">
                <value>McSkin</value>
            </setting>
            <setting name="Application_ShowStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Application_FontName" serializeAs="String">
                <value>Tahoma</value>
            </setting>
            <setting name="Application_FontSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Editor_FontName" serializeAs="String">
                <value>Tahoma</value>
            </setting>
            <setting name="Editor_FontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Editor_FontSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Editor_FontUnderline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Editor_WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
        </wotepad.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
